body{
    background-color: #ddfcfa;

}
/* Style rules for header content */
header {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times;
    
}

/* Style rules for navigation area */
nav {
    background-color: rgb(255, 214, 164);
    font-family: Cambria, Cochin, Georgia, Times;
    font-weight: bolder;
    color: navy;
}

.mobile-nav a {
    color: navy;
    text-align: center;  
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.nav-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #f6eee4;
    padding: 2%;
}

.nav-icon div {
    height: 40px;
    width: 40px;
    color: #2a1f14;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding: 1% 0;
}

footer a {
    color: #f6eee4;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
}